<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.mybaties.UserMapper">
    <!-- 查询所有用户 -->
    <select id="findAll" resultType="com.lzh.mybaties.User">
        SELECT * FROM users;
    </select>

    <!-- 根据 ID 查询用户 -->
    <select id="findById" parameterType="int" resultType="com.lzh.mybaties.User">
        SELECT * FROM users WHERE id = #{id};
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="com.lzh.mybaties.User">
        INSERT INTO users (name, email) VALUES (#{name}, #{email});
    </insert>

    <insert id="insertUserBatch" parameterType="list">
        INSERT INTO users (id,name, email)
        VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.id}, #{user.name}, #{user.email})
        </foreach>
    </insert>
</mapper>
